extends layout

block content

	h1=title

	
	p 
		a(href="/test-list") Test list

	form(action="/" method="post")
		

		

		label(for="url") URL:
		input(type="text" id="url" name="url")

		label(for="number") Number of pages to check:
		input(type="text" id="number" name="number")

		input(type="submit" value="submit")

				


